# flyctl launch added from .gitignore
**\.idea
**\.venv

# flyctl launch added from .idea\.gitignore
# デフォルトの無視対象ファイル
.idea\shelf
.idea\workspace.xml
# エディターベースの HTTP クライアントリクエスト
.idea\httpRequests
# Datasource local storage ignored files
.idea\dataSources
.idea\dataSources.local.xml
fly.toml
